# Ignore nl2 files
*.nl2park
*.nl2park_backup

# Ignore model files
*.[Bb]lend
*.[Bb]lend1
*.[Oo]bj
*.[Dd]ae

# Ingore misc
*.[Bb]in
*.[Xx]ml
*.[Ss]pp
*.[Aa]fdesign
*.[Aa]fphoto

# Ignore image files
*.[Pp]ng
*.[Tt]if
*.[Tt]iff
*.[Dd]ds
*.[Jj]peg
*.[Jj]pg
*.[Rr]aw

# Ignore custom working directories
Custom/
ParticleTest/
build/__pycache__/
UnitTesting/
SingleBlockAnimationModifier.nl2sco
unnittest/Cube.glb
unnittest/UnitTest-Math.nl2sco